.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: var(--main-background);
}

.header__container {
    max-width: 1280px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px 70px;
    position: relative;
    box-sizing: border-box;
}

.header__link {
    transition: all .5s ease;
    height: 38px;
}

.header__link:hover {
    transform: rotate(360deg);
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .header__container {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__container {
        padding: 18px 14px;
    }
}
